dt {
    font-weight: bold;
}
div {
    vertical-align: top;
    display: inline-block;
    border-top: solid 4px gray;
    border-left: solid 4px gray;
    border-right: solid 4px black;
    border-bottom: solid 4px black;
    margin: 5px;
    padding: 10px 30px 10px 30px;
    width: 300px;
    height: 650px;
}
div.contents {
    background-color: gold;
}
div#ootd dt {
    color: red;
}
div#ootd {
    background-color: cyan;
}
div#login_form {
    text-align: center;
    width: 600px;
    height: auto;
}
div#login_form input {
    display: block;
    margin: 10px;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}