/* 전역 CSS 정의 */
h1 {
    font-size: 30px;
    color: red;
    background-color: yellow;
}

#main_head{
    color: aqua;
}

.head_title{
    background-color: gray;
}

a{
    text-decoration: none;
}

a[target="_blank"]{
    color: orange;
}

a:link{
    color: cyan;
}

a:visited{
    color: purple;
}

/* footer 영역 CSS 정의 */
h5{
    text-align: center;
    font-size: 10px;
    background-color: gray;
    color: #222222;
}

h5:hover{
    background-color: blue;
}

h5:active{
    background-color: red;
}

#title_gear{
    color: #B197FC;
}

#title_gear:hover{
    color: red;
}

input:focus{
    background-color: orangered;
}

div.main{
    width: 200px;
    height: 50px;
    /* background-color: #dddddd; */
    background-image: url(../src/facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border: blue outset 5px;
    border-radius: 10px;
    margin: 10px 50px 20px 30px;
    padding: 5px 2px 5px 2px;
}

div:hover button{
    color: red;
}

div#sub_btn:hover button{
    color: rgba(0, 0, 255, 0.7);
    background-color: yellow;
    font-weight: bolder;
    font-size: 20px;
}

button{
    font-style: italic;
    margin: 10px;
}